@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }

   html{
    overflow-x: hidden;
   }
   
   .container{
       width: 100%;
       height: auto;
   }
   
   .navbox{
       display: flex;
       justify-content: space-between;
       background-color: rgba(0, 0, 0, 0.780); 
       padding: 2px 80px;
       align-items: center;
   }
   
   .nav li{
       display: inline;
       color: white;
       padding: 0 10px;
       font-size: 12px;
   }
   .nav li span{
       font-size: 14px;
       padding: 0 6px;
       font-weight: 500;
   }
   .social{
      position: relative;
      display: inline-flex;
      list-style: none;
      gap: 1.4em;
      top: 0.4em;
   }
   
   .social li{
       text-decoration: none;
       color: white;
       font-size: 13px;
   }
  
   .nav li:hover{
       color: rgba(255, 166, 0, 0.911);
       cursor: pointer;
   }
   .nav span1 li:hover{
       color: white;
       cursor:auto;
   }
   .social li:hover{
       color: rgba(255, 166, 0, 0.911);
       cursor: pointer;
   }
   
   .box{
       display: flex;
       justify-content: space-between;
       padding: 30px 0;
   }
   
   .logo{
       padding-left: 80px;
   }
   
   .navbx{
       padding-top: 13px;
       padding-right: 70px;
   }
   .navbx li{
       display: inline;
       padding: 18px;
   }   
   nav li a{
       position: relative;
       text-decoration: none;
       font-size: 17px;
       font-weight: 600;
       color: black;
   }
   nav li a::before{
       position: absolute;
       content: "";
       width: 0;
       height: 4px;
       background-color: orange;
       transition: 1s ease;
       left: 0;
       bottom: -20px;
   }
   nav li a:hover::before{
       width: 100%;
   }
   .navbx i{
       padding-left: 20px;
       position: relative;
       font-size: 18px;
   }
   .navbx span{
       position: absolute;
       font-size: 12px;
       font-weight: 800;
       border: 2px solid rgba(255, 166, 0, 0.877);
       background-color: rgba(255, 166, 0, 0.856);
       padding: 6px;
       top: 15%;
       right: 60px;
       border-radius: 50%;
   }
   .navbx i:hover{
       cursor: pointer;
   }
   .toggle{
       display: none;
       padding-right: 88px;
       padding-top: 13px;
   }
   .toggle span i{
       position: relative;
       padding: 0 10px;
       font-size: 18px;
   }
   .toggle span i span1{
       position: absolute;
       font-size: 9px;
       font-weight: 800;
       border: 2px solid rgba(255, 166, 0, 0.877);
       background-color: rgba(255, 166, 0, 0.856);
       padding: 4px;
       top: -10px;
       right: 0;
       border-radius: 10px;
   }
   .toggle span:hover{
       cursor: pointer;
   }
   .sticky{
     position: fixed !important;
     top: 0;
     left: 0;
     padding-top: 0;
     z-index: 9999 !important;
     background-color: white;
     width: 100%;
   }
 
   .img-box{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: antiquewhite;
    position: relative;
}
.img-box1{
    background-image: url("../images/hero-1.webp");
}
.img-box2{
    background-image: url("../images/hero-2.webp");
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
}
.banner .owl-item.active .img-box .textbox h2{
    animation: fadeInDownBig ease 2s both;
}
.banner .owl-item.active .img-box .textbox h1{
    animation: fadeInLeftBig ease 2s 2s both;
}
.banner .owl-item.active .img-box .textbox p{
    position: absolute;
    bottom: -120%;
    animation: slideInUp ease 2s 2s both;
}
.textbox{
    position: absolute;
    top: 12%;
    left: 4%;
    line-height: 28px;
}
.textbox h2{
    padding-bottom: 16px;
    font-size: 30px;
    color: white;
    font-family: "Oswald", sans-serif;
}
.textbox h1{
    padding-bottom: 16px;
    font-size: 60px;
    color: white;
    font-family: "Oswald", sans-serif;
}
.textbox p{
    position: absolute;
    top: 42%;
    width: 120%;
    font-size: 16px;
    color: white;
    font-family: "Open sans", sans-serif;
}
.banner .owl-item.active .img-box .banner-bttn{
    animation: rollIn ease 2s 2s both;
}
.banner-bttn{
    margin-top: 26%;
    padding: 10px 30px;
    font-size: 15px;
    font-family: "Open sans", sans-serif;
    font-weight: 500;
    border: 2px solid rgb(252, 188, 70) !important;
    background-color: rgb(252, 188, 70);
    color: white;
    border: none;
}
.banner-bttn:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(252, 188, 70);
}

.owl-banner .owl-nav{
    position: absolute;
    left: 60%;
    top: 44%;
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    transform: translate(-60%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in;
}

.owl-banner:hover .owl-nav{
    opacity: 1;
    visibility: visible;
}

.owl-carousel-two .owl-nav{
    position: absolute;
    left: 60%;
    top: 44%;
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    transform: translate(-60%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s ease-in;
}

.owl-carousel-two:hover .owl-nav{
    opacity: 1;
    visibility: visible;
}

.fa-angle-left, .fa-angle-right{
    display: block;
    margin: 0 auto;
    padding: 8px 14px;
    font-size: 24px;
    border: 2px solid rgb(252, 188, 70);
    align-items: center !important;
    color: rgb(252, 188, 70);
}

.fa-angle-left:hover, .fa-angle-right:hover{
    background-color: rgb(252, 188, 70);
    color: white;
}

.img-box .owl-nav:hover{
    position: absolute;
    display: block;
}

#middle{
    width: 100%;
    padding: 80px 2em 0 2em;
    display: flex;
    justify-content: center;
    gap: 32px;
}
.pic-box{
    position: relative;
    width: 100%;
    height: 100%;
}
.video-popup i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 28px;
    color: black;
    border: 2px solid white;
    background-color: white;
    padding: 14px 18px;
    border-radius: 60px;
    transform: translate(-50%, -50%);
}


.txt{
    align-content: center;
}
.txt h3{
    font-size: 26px;
    line-height: 48px;
    font-family: "Oswald", sans-serif;
}
.txt h2{
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
}
.txt h4{
    font-size: 18px;
    padding-top: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
.txt p{
    font-size: 15px;
    padding-top: 30px;
    line-height: 28px;
    color: #666666;
    font-family: "Open sans", sans-serif;
}

.service-bttn{
    margin-top: 30px;
    border: 2px solid rgb(252, 188, 70);
    background-color: rgb(252, 188, 70);
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Open sans", sans-serif;
    color: white;
    text-decoration: none;
}
.service-bttn:hover{
    background-color: transparent;
    color: black;
}

.middle-bx{
    margin-top: 6em;
    width: 100%;
    height: auto;
}
.bx{
    padding: 0 4em;
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
}
.pic-bx{
    display: flex;
    justify-content: center;
    gap: 6%;
    align-items:start;
}
.pic-bx img{
    margin-top: 0.4em;
    width: 34%;
    height: 48px;
}

.txt-bx h2{
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.4s ease-in;
  font-family: "Oswald", sans-serif;
}
.txt-bx h2:hover{
   color: rgb(252, 188, 70);
   text-decoration: underline;
   text-decoration-color: rgb(252, 188, 70);
   cursor: pointer;
}
.txt-bx p{
    line-height: 24px;
    font-size: 15px;
    color: #666666;
    font-family: "Open sans", sans-serif;
}
.span-t2{
   display: block;
}

#Service{
    width: 100%;
    height: auto;
    margin-top: 6em;
}
.service-pic img{
    display: block;
    margin: 0 auto;
}
.service-text h2{
    font-size: 34px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-align: center;
    word-spacing: 10px;
}
.service-text p{
    padding-top: 18px;
    line-height: 24px;
    font-size: 18px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
.service-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 28px;
    padding: 20px 48px;
}
.service-box1{
   padding: 1.4em 0;
   border: 1px solid rgba(0, 0, 0, 0.089);
   margin-top: 36px;
   align-items: center;
   align-content: center;
}
.service-picbox img{
    display: block;
    margin: 0 auto;
}
.service-textbox h2{
    text-align: center;
    line-height: 28px;
    padding-top: 28px;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    transition: color 0.6s ease-in;
}
.service-textbox h2:hover{
    color: rgb(252, 188, 70);
    cursor: pointer;
}
.service-textbox p{
    text-align: center;
    padding: 18px 28px 0 28px;
    font-size: 15px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}
.read-bttn{
    display: block;
    position: relative;
    line-height: 28px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-family: "Open Sans", sans-serif;
}
.r{
    text-decoration: none;
    color: none;
}

.read-bttn::before{
    position: absolute;
    content: "";
    width: 0;
    height: 4px;
    background-color: rgba(252, 169, 15, 0.5);
    transition: 1s ease;
    left: 0;
    bottom: 0px;
}
.read-bttn:hover::before{
    width: 100%;
}

#details{
    padding-top: 80px;
}
.details-picbox{
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url("../images/hero-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-content: center;
    overflow: hidden;
}
.details-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.767);
}
.details-iconbox{
   position: relative;
   display: flex;
   justify-content: space-evenly;
   gap: 4%;
}
.icon, .icon2, .icon3, .icon4{
    width: 20%;
}

.icon-img{
    display: block;
    height: 64px;
    margin: 0 auto;
}
.icon-text{
    color: antiquewhite;
    text-align: center;
}
.icon-text h3{
    padding-top: 10px;
    font-size: 44px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}
.icon-text p{
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

#project{
    width: 100%;
    height: auto;
    margin-top: 4em;
}
.latest-img img{
    display: block;
    margin: 0 auto;
}
.latest-text{
    text-align: center;
    padding-top: 18px;
}
.latest-text h2{
    font-size: 34px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}
.latest-text p{
    padding-top: 18px;
    line-height: 24px;
    font-size: 18px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}
.p-classes{
  display: block;
}
.projects{
    width: 100%;
    height: auto;
    padding-top: 60px;
}
.team{
    width: 100%;
    height: auto;
    margin-top: 4em;
}
.team-pic img{
    display: block;
    margin: 0 auto;
}
.team-text{
    text-align: center;
    padding-top: 30px;
}
.team-text h2{
    font-size: 34px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}
.team-text p{
    padding-top: 18px;
    line-height: 24px;
    font-size: 18px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

.teams{
    width: 100%;
    height: auto;
    padding: 48px 34px;
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
}
.teams-box1, .teams-box2, .teams-box3, .teams-box4{
    width: 100%;
    border: 1px solid rgba(236, 227, 227, 0.76);
    padding-bottom: 18px;
    transition: 0.9s ease-out;
}
.teams-box1:hover, .teams-box2:hover, .teams-box3:hover, .teams-box4:hover{
    box-shadow: 1px 2px 12px 10px rgba(214,211,206,1);
    border-radius: 8px;
}

.teams-pic img{
    width: 100%;
    height: 40vh;
}
.teams-text{
    text-align: center;
    padding-top: 30px;
}
.teams-text h3{
    font-size: 24px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.teams-text p{
    padding-top: 14px;
    line-height: 0px;
    font-size: 15px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}
.teams-text span p:hover{
    color:  rgb(252, 188, 70);
    cursor: pointer;
}

.team-icon ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
    padding-left: 0;
}

.team-icon ul li{
    margin-top: 4%;
    cursor: pointer;
}
.team-icon ul li i{
   font-size: 13px;
}

.team-icon .fa-facebook-f{
    border: 1px solid #4867AA;
    color: #4867AA;
    border-radius: 50%;
    padding: 5.8px 8.8px;
}
.team-icon .fa-facebook-f:hover{
    background-color: #4867AA;
    color: white;
}

.team-icon .fa-twitter{
    border: 1px solid #50b4f2;
    color: #50b4f2;
    border-radius: 50%;
    padding: 5.8px 7.6px;
}
.team-icon .fa-twitter:hover{
    background-color: #50b4f2;
    color: white;
}

.team-icon .fa-linkedin-in{
    border: 1px solid #326fa4;
    color: #326fa4;
    border-radius: 50%;
    padding: 5.8px 7.6px;
}
.team-icon .fa-linkedin-in:hover{
    background-color: #326fa4;
    color: white;
}

.team-icon .fa-google-plus-g{
    border: 1px solid #df0c2b;
    color: #df0c2b;
    border-radius: 50%;
    padding: 5.8px 6px;
}
.team-icon .fa-google-plus-g:hover{
    background-color: #df0c2b;
    color: white;
}

#client{
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.about-clients i{
   overflow: hidden;
   font-size: 70px;
   padding: 20px 0 20px 48%;
}

.client-statement .item p{
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding: 0 20%;
    line-height: 32px;
    color: #666666;
}
.client-statement .item h4{
    text-align: center;
    font-size: 20px;
    color:  #fab702;
    line-height: 50px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}
.client-statement .item span{
    font-size: 14px;
    color:  rgba(34, 34, 34, 0.767);
    line-height: 50px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.client-statement .item img{
   display: block;
   margin: 2em auto;
   width: 8%;
   border-radius: 50%;
}

#latest-blog{
    width: 100% !important;
    height: auto;
    margin: 4em 0 !important;
    padding: 0;
}

#latest-blog h2{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}
.latest-blg p{
    text-align: center;
    padding-top: 18px;
    line-height: 24px;
    font-size: 18px;
    color: #666666;
    font-family: "Open Sans", sans-serif;
}

.owl-carousel-latestblog{
    padding: 0 2em;
}

#latest-blog{
    width: 86%;
    margin-left: 90px;
    margin-top: -6%;
}

.img-bo{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.img-bo img{
    width: 100%;
    height: 40vh;
    border-radius: 4px;
}
.item .content p{
   padding-top: 20px;
   font-size: 14px;
   color: #666666;
   font-family: "Open sans", sans-serif;
}

.item .content span{
   letter-spacing: 4px;
}

.item .content h3{
    font-size: 24px;
    padding-top: 20px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}
.item .content h3:hover{
    color:  rgb(252, 188, 70);
    cursor: pointer;
}

#brand{
    width: 100%;
    height: auto;
    margin-top: 10%;
}
.brands{
    display: flex;
    justify-content: center;
    gap: 8%;
}

footer{
    width: 100%;
    height: auto;
    padding-top: 80px;
}
.footer-bg{
    width: auto;
    height: 75vh;
    background-image: url("../images/footer-bg.webp");
    position: relative;
}
.footer-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.836);
}


.footer-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    padding: 5% 3% 0 3%;
    column-gap: 40px;
}
.foot-box1 h4{
   font-size: 24px;
   line-height: 40px;
   padding-bottom: 18px;
   font-family: "Oswald", sans-serif;
}
.foot-box1 p{
    font-size: 15px;
    line-height: 26px;
    color: #d8d8d8;
    font-family: "Open Sans", sans-serif;
}
.foot-box1 ul{
    padding-left: 0;
}
.foot-box1 ul li{
    list-style: none;
    display: inline-flex;
}
.foot-box1 ul li i{
    letter-spacing: 16px;
    font-size: 14px;
}
.foot-box1 ul li i:hover{
    color: rgb(252, 188, 70);
    cursor: pointer;
    transition: 0.5s ease;
}

.foot-box2 h4{
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 18px;
    font-family: "Oswald", sans-serif;
}
.Contact-icon{
    color: #d8d8d8 !important;
    padding-left: 0;
}
.Contact-icon li{
    display: flex;
    list-style: none;
    line-height: 20px;
}
.Contact-icon li i{
    font-size: 14px;
    letter-spacing: 14px;
}
.Contact-icon li p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.Contact-icon li p span:hover{
    color: rgb(252, 188, 70);
    cursor: pointer;
    transition: 0.5s ease;
}
.foot-box3 h4{
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 18px;
    font-family: "Oswald", sans-serif;
}
.foot-picbox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    gap: 10px;
}
.foot-picbox img{
    width: 100%;
    height: 14vh;
}
.foot-picbox i{
   position: absolute;
   padding: 36px 36px 26px 36px;
   list-style: none;
   opacity: 0;
}
.foot-picbox i:hover{
    width: 30.5%;
    background-color: rgba(39, 39, 39, 0.623);
    position: absolute;
    opacity: 1;
    color: rgb(252, 188, 70);
    transition: 0.4s ease-in;
    cursor: pointer;
}

.foot-box4 h4{
    font-size: 24px;
    line-height: 40px;
    padding-bottom: 18px;
    font-family: "Oswald", sans-serif;
}
.foot-box4 p{
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #d8d8d8;
    font-family: "Open Sans", sans-serif;
}

form{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.form1 input{
    border: 1px solid rgba(117, 117, 117, 0.993);
    background-color: transparent;
    line-height: 24px;
    padding: 10.5px 20px;
    padding-right: 40px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    outline: none;
    color: white;
}
#footer-mail{
    padding: 11px 14px;
    border: 1px solid black;
    border: none;
    display: inline;
    position: absolute;
    background-color: #fab702;
}
.fa-paper-plane{
    color: white;
    font-size: 14px
}
#footer-mail:hover{
    cursor: pointer;
}
.footer-margin{
    margin-top: 4%;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-copyright{
    padding-top: 1%;
}
.foot-text p{
    font-size: 15px;
    color: #d8d8d8;
    text-align: center;
    font-weight: 400;
    word-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}
.foot-text p span:hover{
    color: #fab702;
    cursor: pointer;
}
#totop{
    padding: 11px 14px;
    border-radius: 6%;
    background-color: transparent;
    color: #fab702;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 58px !important;
    bottom: 58px;
    z-index: 9999;
}


@media only screen and (max-width: 1080px){
    .navbx{
        display: none;
    }
    .toggle{
        display: block;
    }
     #middle{
        width: 100%;
    }

    .pic-box img{
        width: 460px;
    }

   .txt h3{
      font-size: 24px;
      line-height: 0px;
      margin-bottom: 28px;
    }
   .txt h2{
     margin-bottom: 8px;
     font-size: 34px;
   }
   .txt h4{
      margin-bottom: 28px;
    }
   .txt p{
      padding-top: 0px;
    }
    .foot-picbox img{
        width: 100%;
        height: 11vh;
    }
    .foot-picbox i{
       padding: 26px 26px 20px 26px;
    }
    .foot-picbox i:hover{
       align-content: center;
    }
    .form1 input{
       width: 96%;
       padding: 8.5px 0 8.5px 14px;
    }
    #footer-mail{
      padding: 9px 12px;
    }
}

@media only screen and (max-width: 1025.8px){
    .img-box{
      height: 40vh;
    }
   .details-picbox{
      height: 30vh;
    }
   .bx{
      flex-wrap: wrap;
      row-gap: 60px;
      justify-content: center;
    }
   .pic-bx{
        flex: 0 0 calc(50% - 20px);
    }
    
    .pic-bx img{
        width: 20%;
    }

    .teams{
        flex-wrap: wrap;
        row-gap: 28px;
        justify-content: center;
    }

    .teams > div{
        flex: 0 0 calc(33% - 20px);
    }

    .teams-pic img{
        height: 30vh;
    }

    .img-bo img{
        height: 20vh;
    }

   .footer-bg{
      height: 39vh;
    }
    .foot-picbox img{
        height: 6.8vh;
    }
    .foot-picbox i:hover{
       height: 6.8vh;
    }
}

@media only screen and (max-width: 980px){
    .img-bo img{
        height: 32vh;
    }

    .footer-bg{
      height: 61.6vh;
    }

    .footer-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   .footer-box > div{
        flex: 0 0 calc(28% - 20px);
    }
}

@media only screen and (max-width: 900px){
   .img-box{
      height: 44vh;
   }
   #middle{
     flex-wrap: wrap;
     padding: 80px 4em 0 4em;
   }
   .pic-box img{
      width: 100%;
      height: 600px;
   }
}

@media only screen and (max-width: 820.5px){
   .service-box{
    grid-template-columns: repeat(2,1fr);
   }

    .teams > div{
        flex: 0 0 calc(50% - 20px);
    }

    .img-bo img{
        height: 28vh;
    }

    .footer-bg{
        height: 54vh;
    }

    .foot-picbox img{
        height: 8vh;
    }

    .foot-picbox i{
        padding-left: 3em;
    }

    .foot-picbox i:hover{
       width: 32%;
       height: 8vh;
    }

    .footer-box{
       gap: 28px;
    }

    .footer-box > div{
        flex: 0 0 calc(50% - 20px);
    }
}

@media only screen and (max-width:780px){
    .details-picbox{
        height: 44vh;
    }
    .details-iconbox{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        row-gap: 28px;
    }
    .details-iconbox > div{
        flex: 0 0 calc(50% - 20px);
    }
    .brands{
       flex-wrap: wrap;  
       gap: 8em;
       justify-content: space-evenly;
       align-items: center;
   }
    .brands img{
        max-width: 188px;
        flex: 0 0 calc(60% - 0px);
    }
    .footer-bg {
        height: 60vh;
    }
    .form1 input{
        width: 100%;
    }
}
@media only screen and (max-width:641px){
  .textbox p{
      width: 100%;
    }
    .foot-picbox i{
        padding-left: 2em;
    }

}
@media(max-width:580px){
    .textbox h2{
        font-size: 28px;
    }
    .textbox h1{
        font-size: 48px;
    }
    .textbox p{
        top: 32%;
        font-size: 15px;
    }
    .banner-bttn{
        margin-top: 34%;
    }
    #middle{
        padding: 80px 1.4em 0 1.4em;
    }
    .pic-box img{
        height: 440px;
    }
    .bx{
        padding: 0 1.4em;
    }
    .pic-bx {
        flex: 0 0 calc(100% - 20px);
    }
    .pic-bx img{
        width: 14%;
    }
    .service-box{
        grid-template-columns: repeat(1,1fr);
        padding: 20px 1.4em;
    }
    .details-picbox{
        height: 36vh;
    }
    .icon-img{
        height: 44px;
    }
    .icon-text h3{
        font-size: 34px;
    }
    .icon-text p{
        font-size: 15px;
    }
    .owl-carousel-two img{
       height: 448px;
    }
    .teams{
        padding: 48px 4em;
    }
    .teams > div {
        flex: 0 0 calc(100% - 20px);
    }
    .teams-pic img{
        height: 26vh;
    }
    .client-statement .item p{
        font-size: 15px;
        padding: 0 1.8em;
    }
    .img-bo img{
        height: 32vh;
    }
    .item .content h3{
        padding-top: 14px;
    }
    .brands{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 4em;
        place-items: center;
    }
    .brands img{
        max-width: 120px;
    }
    .footer-bg{
        height: 98vh;
    }
    .footer-box{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 28px;
        padding: 20px 1.4em;
        align-content: center;
        text-align: center;
    }
    .Contact-icon li{
       justify-content: center;
    }
    form{
        justify-content: center;
    }
    .form1 input{
        width: 100%;
    }
    .foot-picbox{
        padding: 0 4em;
    }
    .foot-picbox i:hover{
        width: 25%;
    }
}
@media(max-width:488.8px){
    .p-classes{
      display: inline;
   }
    .footer-bg{
        height: 100vh;
    }
   .foot-picbox{
        padding: 0 2em;
    }
    .foot-picbox i:hover{
        width: 28%;
    }
}

@media(max-width:388.8px){
   .footer-box{
      row-gap: 10px;
   }
   .foot-box3 h4{
     line-height: 8px;
   }
   .foot-box4 h4{
       padding-top: 1em;
   }
}